*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body {
    background: aliceblue;
    font-size: 1.6rem;
    width: 100vw;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
.author{
    width: 100%;
    padding: .5rem;
    background: black;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('img/background.jpg');
    background-position: -40px;
    background-size: 100%;
    background-repeat: repeat-x;
    height: 500px;
    position: relative;
    margin-bottom: 1rem;
}
.logo{
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 2rem;
}
.navbar{
    width: 100%;
    background: rgba(250, 234, 4, 1);
    display: flex;
    justify-content: center;
    position: absolute;
    bottom:0;
}
.navbar > ol{
    display: flex;
    list-style-type: none;
    
}
.nav--item{
    padding: 1rem;
    text-align: center;
    border-right: 1px dotted black;

}
.nav--item:first-child{
    border-left: 1px dotted black;
}
.nav--link{
    text-decoration: none;
    color:black;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:3rem;
    background: rgba(200,200,200, .7);
    border-radius: 7px;
    padding: 1rem;
}
.login--form{
    display: flex;
    flex-direction: column;
}
.login--input, .login--button{
    border-radius: 5px;
    padding: .5rem;
    border: 1px solid lightgray;
    margin: .5rem;
}
.error{
    border-color: red;
}

/*-------------Lista produktów----------*/ 

.products{
    width: 800px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products--filter{
    width: 100%;
    height: 45px;
    background: rgba(200,200,200, .7);
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.products--list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.product{
    width: 180px;
    border-radius: 7px;
    box-shadow: 0 0 2px 3px rgba(200,200,200, .7);
    display: flex;
    flex-direction: column;
    margin:1.5rem .5rem;
}
.product--link{
    text-decoration: none;
    color:black;
    transition: all .3s ease-in-out;
}
.product--link:hover{
    transform: scale(.9);
}
.product--img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.product--text{
    text-align: center;
    padding: .5rem;
    background: rgba(200,200,200, .7);
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.product--name{
    font-size: 1.5rem;
}
.product--price{
    font-size: 1.8rem;
}

/*--------Podgląd Produktu--------*/
.product--preview{
    display: flex;
}

.preview--img{
    width:400px;
    border-radius: 7px;
    box-shadow: 0 0 3px 5px rgba(200,200,200, .7);
    margin-right: 2rem;
}

.preview--table{
    border-collapse: collapse;
}

.preview--table td, .preview--table th{
    padding: 1rem;
    text-align: left;
}
.preview--table tr:nth-child(even){
    background: rgba(200,200,200, .7);
}
.preview--table tr:nth-child(odd){
    background: rgba(200,200,200, .3);
}
.preview--button{
    text-align: center !important;
    background: rgba(250, 234, 4, 1);
    font-weight: bold;
    transition: all .3s ease;
}
.preview--button:hover{
    background: rgba(250, 234, 4, .7);
    cursor: pointer;
}